# Database
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
DATABASE_URL=postgresql://your_db_user:your_db_password@db:5432/your_db_name

# Auth — change this to a long random string in production
SECRET_KEY=f63d73647b7b0e394abb086430d6107c8b01171717026b0af699a98c94fed558
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# TURN server — replace with your own coturn server for production
TURN_URL=turn:openrelay.metered.ca:80
TURN_USERNAME=813bca6d3928622894e29a16
TURN_CREDENTIAL=8YwQSqYiJhfAw31R
